:root
{
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --xblue: #025193;
    --xblue2: #0058A1;
    --tgray: #F5F5F5;
    --xgreen:#3E897B;
    --bgray: #DCDBD7;
    --sgreen: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    --stgreen: #58A773;
    --yellow: #F8BD00;
    --red: #E33629;
    --dropwhite: rgba(255,255, 255, 1);
    --dropgray: #EEEEEE;

}

.req-table
{
    width: 100%;
    border-collapse: collapse;
    top:0;
}

.req-table th {
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 12px;
    border-bottom: 0.5px groove #025193;
    
}

.req-table td
{
    text-align: center;
}

.req-border
{
    border-right: 0.5px groove #025193;
}

.req-font
{
    color: black;
    font-size: 15px;
}
